.k
*kompiled
*.kore
*.pdf
*.swp
.metadata
.cache
.idea
*~
junit-reports
samples/test/
release/
target/

/editor-support/k-idea-plugin-src/src/ro/uaic/fmse/kplugin/KLexer.java
/editor-support/k-idea-plugin-src/gen
/editor-support/k-idea-plugin-src/out
